node_modules/**
.git/**
.git*
.github/**
.vscode/**
src/**
test/**
backend/src/**
backend/project/**
backend/target/**
backend/build.sbt
backend/scripts/**
package-lock.json
tsconfig.json
vitest.config.ts
*.vsix
*.map
out/**/*.map
jre/**
.vscodeignore.platform
